<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Are You at Risk of Developing Diabetes?</title>


    <!-- bootstrap and css stylesheet link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">


</head>


<body>
    <!--Navbar adjustments-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">    
            <a class="navbar-brand" style="color: white;" href="/" >Survey</a>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">    
                
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="/visualizations">Visualizations</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Create Bootstrap container -->
    <div class="container"   >

        <!-- New Bootstram row -->

            <!-- Bootstrap row 1 column 1 -->
       
                <table><td>
                <img src= "{{ url_for('static', filename= 'images/image (3).png') }}" height="220px" width="100%">
            </td>
            </table>
                
       
<br>
    {{prediction_text}}
    <!-- Create form -->
        <form id="stroke_form" action="/" method="get" target="blank">
            <fieldset>
                <table border="0px"  >
                <tr><td>&nbsp;</td></tr>
            

                <tr> <td><h1>Enter your information to calculate Stroke risk.</h1> </td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr> <td> Please enter a number in the following fields.</td></tr>
                <tr>   <td><input type="text" name="age" id="age">   &nbsp; Age </td> </tr>
                <tr>   <td> <input type="text" name="agl" id="agl">  &nbsp; Average Glucose Level </td>  </tr>

                <tr><td>&nbsp;</td></tr>
                <tr> <td>Please select the drop-down option that is most relevant to your work type.</td></tr>
                <tr>   <td>  <select id="work_type" name="work_type">  Work type 
                    <option value="self_employed">Self employed</option>
                    <option value="employer_employed">Employer employed</option>
                    <option value="children">Child</option>
                </select> </td>  </tr>

                <tr> <td> <select id="smoking_status" name="smoking_status"> Smoking status 
                    <option value="smokes">Smokes</option>
                    <option value="formerly_smoked">Formerly smoked</option>
                    <option value="never_smoked">Never smoked</option>

                </select></td> </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>  <td>  Please check the box if any of the following applies to you </td></tr>

                <tr> <td><input id="has_hypertension" type="checkbox" name="hypertension"> Has Hypertension </td></tr>
                <tr> <td><input id="has_heart_disease" type="checkbox" name="heart_disease"> Has Heart Disease</td></tr>
                <tr> <td><input id="ever_married" type="checkbox"name="ever_married"> Ever married </td></tr>
                <tr> <td>     <!-- Submit Button -->
                    <button>
                        <input type="submit" value="Get results">
                    </button>
                </td></tr>

                

                </table>

                </table>
            </fieldset>
        </form>
    
    </div>
</body>
</html>